

<div class="header-main text-center">
    <h1>All RVs available for bookings</h1>
</div>
<div class="container">
  <div class="row">
    <% if @rvs.length == 0 %>
      <div class="col-xs-12">
        <p>Sorry, no RVs available<p>
      </div>
    <% else %>
      <% @rvs.each do |rv| %>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center" >
          <% if rv.photo? %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path rv.photo.path, height: 300, width: 500, crop: :fill %>')">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/FjtE9VKlKg4/500x300');">
          <% end %>
          <div class="card-category"><%= rv.kind %></div>
          <div class="card-description">
            <h2><%= rv.name %></h2>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <%= link_to "", rv_path(rv), class: "card-link" %>
        </div>

        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <%= link_to "Put a RV up for rental", new_rv_path, :class => "btn btn-primary" %>
</div>
