
<h1 class="text-center">All the bookings</h1>

<% @bookings.each do |booking| %>
  <p><strong><%= booking.rv.name %></strong></p>
  <p>From <%= booking.check_in_on %></p>
  <p>To <%= booking.check_out_on %></p>
  <p>Price <%= booking.price %>$</p>
  <%= link_to "Show RV", rv_path(booking.rv)%>
<% end %>
